@charset "UTF-8";

header {
    min-height: 280px;
}

main {
    max-width: 800px;
    margin: auto;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.400);
}

#preparacao {
    max-width: 450px;
}

hr {
    width: 750px;
    margin: auto;
}